In [ ]:
from math import *
s=0
n=int(input())
for i in range(1,n+1):
  s=s+i
print(s)

50
1275

In [ ]:
from math import *
c=False
m=-1
while c==False:
  n=input()
  dem=0
  for i in range (len(n)):
    if ord(n[i])<ord('0') or ord(n[i]) > ord('9'):
      dem+=1
  if dem==0:
    c=True
    m=int(n)
c=True
for i in range(2,int(sqrt(m))+1):
  if m % i == 0:
    c=False
if c==True:
  print('True')
else:
  print('False')

2.0
6.0
11
True

In [ ]:
n=int(input())
s=1
for i in range(1,n+1):
  s=s*i
print(s)

5
120

In [ ]:
n=int(input())
if n==0:
  print(1)
else:
  n=abs(n)
  dem=0
  while(n>0 or n<0):
    dem+=1
    n=n//10
  print(dem)

567890
6

In [ ]:
from math import *
n=int(input())
c=False
for i in range(1,n+1):
  x=int(input())
  if x==42:
    c=True
if c==True:
  print("I've found the meaning of life!")
else:
  print("It's a joke!")

In [ ]:
from math import*
def check(n):
  if n<2: return False
  if n == 2: return True
  for i in range(2,int(sqrt(n))+1):
    if n % i == 0:
      return False
  return True
a,b=map(int,input().split())
kq=0
for i in range(a,b+1):
  if check(i)==True:
    kq+=i
print(kq)

100 120
533

In [ ]:
from math import*
def check(n):
  if n<2: return False
  if n == 2: return True
  for i in range(2,int(sqrt(n))+1):
    if n % i == 0:
      return False
  return True
n=int(input())
kq=2
for i in range (2,n+1):
  if check(i)==True and n%i==0:
    kq=i
print(kq)

27
3

In [ ]:
from math import *
def check(n):
  s=str(n)
  for i in range(len(s)):
    if s[i]!=s[len(s)-1-i]:
      return False
  return True
def reverse(n):
  s=str(n)
  ss=''
  for i in range(len(s)-1,-1,-1):
    ss=ss+s[i]
  return int(ss)
dem=0
n=int(input())
while check(n)==False:
  dem+=1
  n=n+reverse(n)
print(dem,n)

89
24 8813200023188

In [ ]:
from math import *
def check(n):
  s=str(n)
  b=list(s)
  for i in range(len(b)):
    if b.count(b[i]) > 1:
      return False
  return True
n=int(input())
for i in range(1,int(sqrt(n))+1):
  s=i*i
  if check(s)==True:
    print(s,end=' ')

100
1 4 9 16 25 36 49 64 81

In [ ]:
from math import *
def check(n):
  dem=0
  while n!=1:
    dem+=1
    if n%2==1:
      n=3*n+1
    else:
      n=n//2
  return dem
n=int(input())
maxx=0
id=1
for i in range(1,n+1):
  if check(i)>maxx:
    maxx=check(i)
    id=i
print(id,maxx+1)

200
171 125

In [ ]:
from math import *
n=int(input())
dem=0
for i in range(2,n+1):
  if n % i == 0 and i % 2 == 0:
    dem+=1
print(dem)

10024
12

In [ ]:
from math import *
x,n=map(int,input().split())
for i in range(n):
  x=x*100.7/100
print(int(x))

1999 4
2055

In [ ]:
from math import *
a,b=map(int,input().split())
sa=0
sb=0
for i in range(1,a):
  if a%i==0:
    sa+=i
for i in range(1,b):
  if b%i==0:
    sb+=i
if a==sb and b==sa:
  print('true')
else:
  print('false')

2620 2924
true

In [ ]:
from math import *
a,b=map(int,input().split())
print(gcd(a,b))

100024 1024
8

In [ ]:
from math import *
x,y=map(int,input().split())
if y%2==1 or 2*x>y or 4*x<y:
  print('invalid')
else:
  print(x-(y//2-x),y//2-x)

100 150
invalid

In [ ]:
for i in range(1,100):
  if i%6==0:
    print(i,end=' ')

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96

In [ ]:
from math import *
a=int(input())
for i in range(1,11):
  print(a,'x',i,'=',a*i)

8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
from math import *
a,b=map(int,input().split())
for i in range(1,min(a,b)):
  if a%i==0 and b%i==0:
    print(i,end=' ')

24 18
1 2 3 6

In [ ]:
n=int(input())
for i in range(2,n+1,2):
  print(i,end=' ')

99
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
from math import *
n=int(input())
c=True
while n>1:
  if n%2!=0 and n>1:
    c=False
  n//=2
if c==True:
  print('True')
else:
  print('False')

10000000000
False

In [ ]:
from math import *
n=int(input())
s=0
while n>0:
  s+=(n%10)
  n//=10
print(s)

1000000000000
1

In [ ]:
from math import *
sl=0
sc=0
n=int(input())
while n>0:
  x=n%10
  if x%2==0:
    sc+=1
  else:
    sl+=1
  n//=10
print(sc,'chu so chan')
print(sl,'chu so le')

12345
2 chu so chan
3 chu so le

In [ ]:
from math import *
n=int(input())
kq=1
for i in range(1,n):
  s=i*(i+1)/2
  if s<n:
    kq=i
print(kq)

16
5

In [ ]:
from math import*
def sum(n):
  s=0
  for i in range(1,n+1):
    s=s+(1/i)
  return s
A=float(input())
s=0
id=0
while(s<A):
  id+=1
  s=sum(id)
print(id)

1.8
3

In [ ]:
from math import *
n=int(input())
maxx=n
minn=n
c=True
while c==True:
  n=int(input())
  if n==-1: break
  maxx=max(maxx,n)
  minn=min(minn,n)
print(maxx,minn)

1
2
3
4
-1
4 1

In [ ]:
from math import *
def fib(n):
  if n==1: return 1
  if n==2: return 1
  return fib(n-1)+fib(n-2)
a=int(input())
s=0
id=0
while True:
  id+=1
  s=fib(id)
  if(s>a) :
    id-=1
    break
print(fib(id))

2
2

In [ ]:
n=input()
n=n+' '
kq=0
for i in range(len(n)):
  if n[i]==' ' and n[i-1]!=' ':
    kq+=1
print(kq)

      gh     gh    gh
3

In [ ]:
id=0
n=input()
for i in range(1,len(n)):
  if n[i]==' ' and n[i-1]!=' ':
    id=i
    break
for i in range(id):
  if n[i]!=' ':
    print(n[i],end='')

he he
he

In [ ]:
n=input()
a=0
b=0
c=0
id=0
for i in range(len(n)):
  if n[i]==',':
    id=i
    break
  a=a*10+int(n[i])
for i in range(id+2,len(n)):
  if n[i]==',':
    id=i
    break
  b=b*10+int(n[i])
for i in range(id+2,len(n)):
  c=c*10+int(n[i])
print(a+b+c)

3, 12, 15
30

In [ ]:
from math import *
n=input()
thuong=0
hoa=0
so=0
for i in range(len(n)):
  x=n[i]
  if 65 <= ord(x) and ord(x) <= 91:
    hoa+=1
  elif 97 <= ord(x) and ord(x) <= 123:
    thuong+=1
  elif ord('0') <= ord(x) and ord(x) <= ord('9'):
    so+=1
print(hoa,'ki tu in hoa')
print(thuong,'ki tu in thuong')
print(so,'ki tu so')

asdfghjASDFGH2345678
6 ki tu in hoa
7 ki tu in thuong
7 ki tu so

In [ ]:
from math import *
n=input()
s=0
for i in range(len(n)):
  if 48 <= ord(n[i]) and ord(n[i]) <=57:
    s+=int(n[i])
print(s)

dfghj6bnm7fghbnm8jhb 9
30

In [ ]:
from math import *
n=input()
thuong=0
hoa=0
so=0
dacbiet=0
for i in range(len(n)):
  x=n[i]
  if 65 <= ord(x) and ord(x) <= 91:
    hoa+=1
  elif 97 <= ord(x) and ord(x) <= 123:
    thuong+=1
  elif ord('0') <= ord(x) and ord(x) <= ord('9'):
    so+=1
  else:
    dacbiet+=1
if dacbiet >=1 and hoa >=1 and so >=1 and thuong >=1 and len(n) >6:
  print('mat khau manh')
else:
  print('mat khau yeu')

h7H]
mat khau yeu

In [ ]:
n=input()
id=0
s=''
for i in range(len(n)-1,-1,-1):
  id+=1
  if id==3 and i>0:
    id=0
    s='.'+n[i]+s
  else:
    s=n[i]+s
print(s)

3456789
3.456.789

In [4]:
a , b = input() , input()
if b in a:
    s = a.find(b)
    e = len(b)
    a = a[:s] + a[e:]
    while a[0] == ' ':
        a = a[1:]
    print(a)

xin chao
xin
chao